/* Basic styling */
body, .footer {
    font-family: Arial, sans-serif;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


/* Navigation Styling */
.navigation {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navigation a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
